* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.container {
    border: solid 5px;
    margin-top: 100px;
    margin-bottom: 100px;
    margin-left: 300px;
    margin-right: 300px;
    background-color: #c8d6e5;;
}

.tarefas {
    list-style-type: none;
    padding-bottom: 100px;
}

header {
    background-color: #6f35e4;
    padding: 16px 0;
    color: #fff;
    display: flex;
    justify-content: center;
    border-bottom: 16px solid #432ab3;
    text-transform: uppercase;
    font-style: italic;    
}

header button {
    margin-left: 16px;
}

form {
    padding: 24px 0;
    text-align: center;
    display: none;
}

form h2 {
    margin-bottom: 16px;
}

input, button {
    padding: 8px;
}

button {
    background-color: #009432;
    border: none;
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
    cursor: pointer;
}

#botao-cancelar {
    background-color: red;
}

ul {
    display: block;
}

.tarefas {
    text-align: center;
    margin: 20px 0px
}

li p{
    cursor: pointer;
    font-weight: bold;
    text-transform: uppercase;
    margin: 10px;
}